CREATE DATABASE [QL_BANSACH]
GO
USE [QL_BANSACH]
GO
/****** Object:  Table [dbo].[CHU_DE]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU_DE](
	[Mcd] [int] IDENTITY(1,1) NOT NULL,
	[Ten_chu_de] [nvarchar](50) NULL,
	[PID] [int] NULL,
 CONSTRAINT [PK_CHU_DE] PRIMARY KEY CLUSTERED 
(
	[Mcd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DAT_HANG]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DAT_HANG](
	[Mctddh] [int] IDENTITY(1,1) NOT NULL,
	[Sdh] [int] NOT NULL,
	[Ms] [int] NOT NULL,
	[So_luong] [int] NULL,
	[Don_gia] [float] NULL,
	[Thanh_tien] [float] NULL,
 CONSTRAINT [PK_CT_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[Mctddh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[Sdh] [int] IDENTITY(1,1) NOT NULL,
	[Mkh] [int] NULL,
	[Ngay_dat_hang] [datetime] NOT NULL,
	[Tri_gia] [money] NULL,
	[Da_giao_hang] [bit] NOT NULL,
	[Ngay_giao_hang] [datetime] NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[Sdh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[Mkh] [int] IDENTITY(1,1) NOT NULL,
	[Ho_ten] [nvarchar](50) NOT NULL,
	[Dia_chi] [nvarchar](50) NULL,
	[Dien_thoai] [nvarchar](10) NULL,
	[Ten_dang_nhap] [nvarchar](15) NOT NULL,
	[Mat_khau] [nvarchar](15) NOT NULL,
	[Ngay_sinh] [datetime] NULL,
	[Gioi_tinh] [bit] NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[Mkh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[Mnxb] [int] IDENTITY(1,1) NOT NULL,
	[Ten_nha_xuat_ban] [nvarchar](100) NULL,
	[Dia_chi] [nvarchar](150) NULL,
	[Dien_thoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_NHA_XUAT_BAN] PRIMARY KEY CLUSTERED 
(
	[Mnxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANG_CAO]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANG_CAO](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TenCTy] [nvarchar](200) NULL,
	[Hinh_Minh_Hoa] [nvarchar](100) NULL,
	[HREF] [nvarchar](100) NULL,
	[Ngay_bat_dau] [datetime] NULL,
	[Ngay_het_han] [datetime] NULL,
 CONSTRAINT [PK_QUANG_CAO] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[Ms] [int] IDENTITY(1,1) NOT NULL,
	[Ten_sach] [nvarchar](100) NOT NULL,
	[Don_gia] [money] NULL,
	[Don_vi_tinh] [nvarchar](10) NULL,
	[Mo_ta] [nvarchar](max) NULL,
	[Hinh_minh_hoa] [nvarchar](200) NULL,
	[Mcd] [int] NULL,
	[Mnxb] [int] NULL,
	[Ngay_cap_nhat] [datetime] NULL,
	[So_luong_ban] [int] NULL,
	[So_lan_xem] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[Ms] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAC_GIA]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAC_GIA](
	[Mtg] [int] IDENTITY(1,1) NOT NULL,
	[Ten_tac_gia] [nvarchar](50) NULL,
	[Dia_chi] [nvarchar](100) NULL,
	[Dien_thoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_TAC_GIA] PRIMARY KEY CLUSTERED 
(
	[Mtg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAM_GIA]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAM_GIA](
	[Ms] [int] NOT NULL,
	[Mtg] [int] NOT NULL,
	[Vai_tro] [nvarchar](50) NULL,
 CONSTRAINT [PK_THAM_GIA] PRIMARY KEY CLUSTERED 
(
	[Ms] ASC,
	[Mtg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CHU_DE] ON 

INSERT [dbo].[CHU_DE] ([Mcd], [Ten_chu_de], [PID]) VALUES (4, N'Ngoại ngữ', 0)
INSERT [dbo].[CHU_DE] ([Mcd], [Ten_chu_de], [PID]) VALUES (5, N'Tin Học', 0)
INSERT [dbo].[CHU_DE] ([Mcd], [Ten_chu_de], [PID]) VALUES (7, N'Luật ', 0)
SET IDENTITY_INSERT [dbo].[CHU_DE] OFF
SET IDENTITY_INSERT [dbo].[CT_DAT_HANG] ON 

INSERT [dbo].[CT_DAT_HANG] ([Mctddh], [Sdh], [Ms], [So_luong], [Don_gia], [Thanh_tien]) VALUES (1, 45, 65, 2, 22000, NULL)
INSERT [dbo].[CT_DAT_HANG] ([Mctddh], [Sdh], [Ms], [So_luong], [Don_gia], [Thanh_tien]) VALUES (2, 45, 64, 2, 198000, NULL)
INSERT [dbo].[CT_DAT_HANG] ([Mctddh], [Sdh], [Ms], [So_luong], [Don_gia], [Thanh_tien]) VALUES (3, 45, 27, 1, 18000, NULL)
SET IDENTITY_INSERT [dbo].[CT_DAT_HANG] OFF
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG] ON 

INSERT [dbo].[DON_DAT_HANG] ([Sdh], [Mkh], [Ngay_dat_hang], [Tri_gia], [Da_giao_hang], [Ngay_giao_hang]) VALUES (1, 1, CAST(N'2004-09-19 00:00:00.000' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[DON_DAT_HANG] ([Sdh], [Mkh], [Ngay_dat_hang], [Tri_gia], [Da_giao_hang], [Ngay_giao_hang]) VALUES (2, 2, CAST(N'2004-09-20 00:00:00.000' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[DON_DAT_HANG] ([Sdh], [Mkh], [Ngay_dat_hang], [Tri_gia], [Da_giao_hang], [Ngay_giao_hang]) VALUES (3, 5, CAST(N'2004-09-19 00:00:00.000' AS DateTime), NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG] OFF
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([Mkh], [Ho_ten], [Dia_chi], [Dien_thoai], [Ten_dang_nhap], [Mat_khau], [Ngay_sinh], [Gioi_tinh], [Email]) VALUES (1, N'Phạm Văn Khoa', N'Trần Huy Liệu', N'0918062755', N'pvkhoa', N'', CAST(N'1962-07-08 00:00:00.000' AS DateTime), 0, N'pvkhoa@hcmuns.edu.vn')
INSERT [dbo].[KHACH_HANG] ([Mkh], [Ho_ten], [Dia_chi], [Dien_thoai], [Ten_dang_nhap], [Mat_khau], [Ngay_sinh], [Gioi_tinh], [Email]) VALUES (2, N'Nguyễn Tiến Luân', N'Quận 6', N'Chưa có', N'ntluan', N'luan', CAST(N'1974-07-15 00:00:00.000' AS DateTime), 1, N'ntluan@hcmuns.edu.vn')
INSERT [dbo].[KHACH_HANG] ([Mkh], [Ho_ten], [Dia_chi], [Dien_thoai], [Ten_dang_nhap], [Mat_khau], [Ngay_sinh], [Gioi_tinh], [Email]) VALUES (3, N'Đặng Quốc Hòa', N'Sư Vạn Hạnh', N'Chưa có', N'dqhoa', N'hoa', CAST(N'1965-07-24 00:00:00.000' AS DateTime), 1, N'dqhoa@hcmuns.edu.vn')
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
SET IDENTITY_INSERT [dbo].[NHA_XUAT_BAN] ON 

INSERT [dbo].[NHA_XUAT_BAN] ([Mnxb], [Ten_nha_xuat_ban], [Dia_chi], [Dien_thoai]) VALUES (1, N'Nhà xuất bản Trẻ', N'124 Nguyễn Văn Cừ Q.1 Tp.HCM', N'19001560')
INSERT [dbo].[NHA_XUAT_BAN] ([Mnxb], [Ten_nha_xuat_ban], [Dia_chi], [Dien_thoai]) VALUES (2, N'NXB Thống ke', N'Biên Hòa-Đồng Nai', N'19001511')
INSERT [dbo].[NHA_XUAT_BAN] ([Mnxb], [Ten_nha_xuat_ban], [Dia_chi], [Dien_thoai]) VALUES (3, N'Kim đồng', N'Tp.HCM', N'19001570')
SET IDENTITY_INSERT [dbo].[NHA_XUAT_BAN] OFF
SET IDENTITY_INSERT [dbo].[QUANG_CAO] ON 

INSERT [dbo].[QUANG_CAO] ([STT], [TenCTy], [Hinh_Minh_Hoa], [HREF], [Ngay_bat_dau], [Ngay_het_han]) VALUES (1, N'Thời trang Việt Nam', N'Thoitrang', N'http://www.vietfashion.vn/', NULL, NULL)
INSERT [dbo].[QUANG_CAO] ([STT], [TenCTy], [Hinh_Minh_Hoa], [HREF], [Ngay_bat_dau], [Ngay_het_han]) VALUES (2, N'Bột giặt Omo', N'Omo', N'http://www.haydetretudo.com.vn/', CAST(N'2005-05-10 00:00:00.000' AS DateTime), CAST(N'2006-06-10 00:00:00.000' AS DateTime))
INSERT [dbo].[QUANG_CAO] ([STT], [TenCTy], [Hinh_Minh_Hoa], [HREF], [Ngay_bat_dau], [Ngay_het_han]) VALUES (3, N'Bánh Trung thu', N'Trungthu', N'http://demo10.webinvietnam.com/For_Ad/h/hanobaco/', CAST(N'2005-05-10 00:00:00.000' AS DateTime), CAST(N'2005-05-10 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[QUANG_CAO] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([Ms], [Ten_sach], [Don_gia], [Don_vi_tinh], [Mo_ta], [Hinh_minh_hoa], [Mcd], [Mnxb], [Ngay_cap_nhat], [So_luong_ban], [So_lan_xem]) VALUES (2, N'Giáo trình Tin học văn phòng', 12000.0000, N'Cuốn', N'Cuốn sách này gồm 3 phần sau:
Phần 1: Xử lý văn bản trong Microsoft Office Word 2007. 
Phần 2: Xử lý bảng tính trong Microsoft Office Excel 2007. 
Phần 3: Quản lý cơ sở dữ liệu trong Microsoft Office Access 2007.
Xin trân trọng giới thiệu cùng các bạn.', N'TH004.jpg', 5, 2, CAST(N'2004-06-05 00:00:00.000' AS DateTime), 25, 0)
SET IDENTITY_INSERT [dbo].[SACH] OFF
SET IDENTITY_INSERT [dbo].[TAC_GIA] ON 

INSERT [dbo].[TAC_GIA] ([Mtg], [Ten_tac_gia], [Dia_chi], [Dien_thoai]) VALUES (1, N'Phạm Công Anh', N'197 Trần Hưng Đạo', N'98877668')
INSERT [dbo].[TAC_GIA] ([Mtg], [Ten_tac_gia], [Dia_chi], [Dien_thoai]) VALUES (2, N'Nguyễn Thế Giang', N'179 Chánh hưng - F.4 - Q.8 Tp.HCM', N'19001611')
INSERT [dbo].[TAC_GIA] ([Mtg], [Ten_tac_gia], [Dia_chi], [Dien_thoai]) VALUES (3, N'Lê Việt Nhân', N'', N'19001570')
SET IDENTITY_INSERT [dbo].[TAC_GIA] OFF
INSERT [dbo].[THAM_GIA] ([Ms], [Mtg], [Vai_tro]) VALUES (1, 1, N'Tác giả')
INSERT [dbo].[THAM_GIA] ([Ms], [Mtg], [Vai_tro]) VALUES (1, 3, NULL)
INSERT [dbo].[THAM_GIA] ([Ms], [Mtg], [Vai_tro]) VALUES (1, 27, NULL)
/****** Object:  StoredProcedure [dbo].[AddChuDe]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddChuDe](@tenchude nvarchar(100),@currentid int output)
as
begin try
 insert into CHU_DE(Ten_chu_de) values(@tenchude)
 set @currentid=@@IDENTITY
end try
begin catch
set @currentid=-1
end catch
GO
/****** Object:  StoredProcedure [dbo].[GetAllKH]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAllKH]
as
select Mkh,Ho_ten from KHACH_HANG
union select 0,N'Tất Cả'
order by Mkh
GO
/****** Object:  StoredProcedure [dbo].[GetBook]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBook](@machude int)
as
select * from SACH where Mcd=@machude
GO
/****** Object:  StoredProcedure [dbo].[GetchudeAll]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetchudeAll]
as
select * from CHU_DE
GO
/****** Object:  StoredProcedure [dbo].[LayChuDe]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LayChuDe]
as
select * from CHU_DE
GO
/****** Object:  StoredProcedure [dbo].[Laysachtheochude]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Laysachtheochude](@macd int)
as
select * from sach where Mcd=@macd




GO
/****** Object:  StoredProcedure [dbo].[Proc_LayThongTinDonHang]    Script Date: 4/27/2020 8:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_LayThongTinDonHang](@makh int=0)
as
SELECT     KHACH_HANG.Mkh,   dbo.KHACH_HANG.Ho_ten, dbo.KHACH_HANG.Dia_chi, dbo.DON_DAT_HANG.Sdh, dbo.DON_DAT_HANG.Ngay_dat_hang, dbo.SACH.Ten_sach, dbo.CT_DAT_HANG.So_luong, dbo.CT_DAT_HANG.Don_gia, 
                         dbo.CT_DAT_HANG.Thanh_tien, dbo.SACH.Don_vi_tinh,Ten_chu_de
FROM            dbo.KHACH_HANG INNER JOIN
                         dbo.DON_DAT_HANG ON dbo.KHACH_HANG.Mkh = dbo.DON_DAT_HANG.Mkh INNER JOIN
                         dbo.CT_DAT_HANG ON dbo.DON_DAT_HANG.Sdh = dbo.CT_DAT_HANG.Sdh INNER JOIN
                         dbo.SACH ON dbo.CT_DAT_HANG.Ms = dbo.SACH.Ms
						 join CHU_DE on SACH.Mcd=CHU_DE.Mcd
						 where KHACH_HANG.Mkh=@makh or(isnull(@makh,0)=0)
GO

select * from DON_DAT_HANG

select * from CT_DAT_HANG


